

table{
    width: 100%;
    height: 100%;
  }

  table tr th,td{
    height: 30px;
  }
  table td{
    background-color: #fff;;
  }
  table thead {
    background-color: #e3e8ee;
    color: #646987;
    font-size: 14px;
}  