.container{
    min-width: 800px;
    display: flex;
    border:  1px solid #c40;
}
.item1{
    width: 200px;
    height: 100%;
    order: 1;
}
.item2{
    height: 100%;
    order: 2; 
    flex-grow:2;
  
}
.item3{
    width: 200px;
    order: 3;
}