
.enter-done{
    opacity: 1;
    background-color: #87c887;
    color: azure;
    transition: .2s;
}

.enter-active{
    opacity: 1;
    background-color: #89c889;
}
.eixt-active{
    opacity: 0;
    background-color: #87c887;
}
.exit-done{
    background-color: #808c;
    opacity: 1;
    transition: .2s;
}
.appear-active{
    background-color: #88c8;
}