.layer{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.layer-content{
    position: absolute;
    line-height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
.But{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    color: #c40;
    background-color: transparent;   
}